<mat-toolbar>
  <button mat-icon-button aria-label="Menu" (click)="toggleMenu.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <p class="welcome-message">Welcome {{ userName | uppercase }}</p>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Add">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
  <button
    mat-icon-button
    class="notification-icon"
    matBadge="12"
    matBadgeColor="warn"
    aria-label="Notifications"
  >
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button aria-label="Profile">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
