<mat-list role="list">
  <!-- Titre et icône de l'application -->
  <mat-list-item>
    <mat-icon matListItemIcon>menu</mat-icon>
    <h3 class="app-title">MyTodoApp</h3>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item *ngFor="let item of itemsGneralGroup">
    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
    <span mat-line>{{ item.title }}</span>
  </mat-list-item>

  <mat-divider></mat-divider>

  <div mat-subheader class="subheader-container">
    <h2>Projects</h2>
    <mat-icon class="black-icon" (click)="openAddProjectDialog()"
      >add_box</mat-icon
    >
  </div>
  <mat-list-item *ngFor="let it of projectList">
    <mat-icon matListItemIcon>assignment</mat-icon>
    <div matListItemTitle>{{ it.projectName }}</div>
  </mat-list-item>
</mat-list>
